[tool.poetry]
name = "bayesianbandits"
version = "0.5.7"
description = "A Pythoic microframework for Multi-Armed Bandit algorithms."
authors = ["Rishi Kulkarni <rishi@kulkarni.science>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9, <3.12"
scipy = "^1.11.0"
scikit-learn = ">=1.2.0"
typing-extensions = "^4.8.0"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.2"
black = "^23.9.1"
flake8 = "^6.1.0"
ipython = "^8.16.1"
coverage = "^7.3.2"
ipykernel = "^6.25.2"
matplotlib = "^3.8.0"
sphinx = "^7.2.6"
sphinx-rtd-theme = "^1.3.0"
numpydoc = "^1.6.0"
nbsphinx = "^0.8.12"
line-profiler = "^4.1.1"

[tool.poetry.group.cholmod.dependencies]
scikit-sparse = "^0.4.12"

[tool.pytest.ini_options]
addopts = "--doctest-modules -v"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
