[tool.poetry]
name = "bayesianbandits"
version = "0.4.1"
description = ""
authors = ["Rishi Kulkarni <rishi@kulkarni.science>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9, <3.12"
scipy = "^1.10.0"
scikit-learn = "^1.2.1"
typing-extensions = "^4.5.0"


[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
black = "^23.1.0"
flake8 = "^6.0.0"
ipython = "^8.10.0"
coverage = "^7.1.0"
ipykernel = "^6.21.2"
matplotlib = "^3.7.0"
sphinx = "^6.1.3"
sphinx-rtd-theme = "^1.2.0"
numpydoc = "^1.5.0"
nbsphinx = "^0.8.12"
line-profiler = "^4.0.3"

[tool.pytest.ini_options]
addopts = "--doctest-modules -v"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
