name: Test with multiple Python versions and scikit-learn versions

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:

          - python-version: '3.10'
            sklearn-version: '1.3.2'
          - python-version: '3.11'
            sklearn-version: '1.3.2'
          - python-version: '3.12'
            sklearn-version: '1.3.2'

          - python-version: '3.10'
            sklearn-version: '1.4.2'
          - python-version: '3.11'
            sklearn-version: '1.4.2'
          - python-version: '3.12'
            sklearn-version: '1.4.2'

          - python-version: '3.10'
            sklearn-version: '1.5.2'
          - python-version: '3.11'
            sklearn-version: '1.5.2'
          - python-version: '3.12'
            sklearn-version: '1.5.2'
          - python-version: '3.13'
            sklearn-version: '1.5.2'            

          - python-version: '3.10'
            sklearn-version: '1.6.1'
          - python-version: '3.11'
            sklearn-version: '1.6.1'
          - python-version: '3.12'
            sklearn-version: '1.6.1'
          - python-version: '3.13'
            sklearn-version: '1.6.1'  

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Install dependencies
      run: |
        sudo apt-get install -y swig libsuitesparse-dev
        python -m pip install --upgrade pip pytest
        pip install scikit-learn==${{ matrix.sklearn-version }} scikit-sparse

    - name: Install bayesianbandits
      run: |
        pip install .

    - name: Test with pytest
      run: |
        pytest
